{#
/**
 * @file
 * Front Page
 */
#}
{% extends 'layouts/base.twig' %}

{% block content %}
  <div class="front-page">
    <h1 class="type-h1">
      {{ post.title }}
    </h1>
    <div class="type-body">
      {{ post.content|e('wp_kses_post')|raw }}
    </div>
  </div>
{% endblock %}
