{#
/**
 * @file
 * Video
 *
 * @params {Array}       $video
 * @params {Array}       $video_cover
 * @params {String}      $video_legend
 * @params {Boolean}     $video_landscape
 * @params {String}      $classes
 *
 * Instructions:
 *  - Video take ratio of cover image
 *  - Change play icon svg
 *  - Feel free to change styles
 */
#}
<div data-component="Video">
  <div class="relative">
    <div class="overflow-hidden relative cursor-pointer">
      <div data-ref="videoCover" class="z-10 relative transition-opacity">
        <div class="absolute left-1/2 top-1/2 -translate-y-1/2 -translate-x-1/2 z-20"
          data-ref="play">
          {% include '@ui/atoms/Button/Button.twig' with {
            icon: 'play',
            icon_only: true,
            attr: {
              aria_label: __('Lire la vidéo', 'studiometa')
            }
          } only %}
          {% if video_legend %}
            <span class="block mt-3">{{ video_legend }}</span>
          {% endif %}
        </div>
        {% include '@ui/atoms/Figure/Figure.twig' with {
          src: video_cover.url,
          alt: video_cover.alt,
          width: video_cover.width,
          height: video_cover.height,
          img_attr: {
            class: ['object-contain', 'h-auto']
          }
        } only %}
      </div>

      <video controls
        playsinline
        class="absolute w-full h-full top-0 left-0"
        data-ref="videoPlayer">
        <source src="{{ video.url }}" type="{{ video.mime_type }}" />
      </video>
    </div>
  </div>
</div>
