APP_HOST=
APP_ENV=local|preprod|production
APP_DOCROOT=web/
APP_CORE=
APP_DEBUG=true|false
APP_SSL=true|false

DB_HOST=localhost
DB_DATABASE=database_name
DB_USERNAME=root
DB_PASSWORD=root
DB_PREFIX=wp_

AUTH_KEY=''
SECURE_AUTH_KEY=''
LOGGED_IN_KEY=''
NONCE_KEY=''
AUTH_SALT=''
SECURE_AUTH_SALT=''
LOGGED_IN_SALT=''
NONCE_SALT=''