<header class="header">
  <div class="wrapper">
    <h1 class="hdr-logo" role="banner">
      <a class="hdr-logo-link" href="{{ site.url }}" rel="home">{{ site.name }}</a>
    </h1>

    <nav class="nav-main" role="navigation">
      {% include 'organisms/menu.twig' with {
        menu: menu.get_items
      } %}
    </nav>
  </div>
</header>
