{#
/**
 * @file
 * Block Accordeon
 * Use https://ui.studiometa.dev/-/components/molecules/Accordion/
 * Display a title with an accordeon list
 *
 * @param {Array}   $block
 * @param {String}  $block.title         Text
 * @param {Array}   $block.list
 * @param {String}  $block.list.title    Text
 * @param {Wysiwyg} $block.list.content  Text
 * @param {String}  $block_name          machine name
 */
#}
<section class="block-accordion">
  <div class="container">
    <h3>
      {{ block.title }}
    </h3>

    {% embed '@ui/molecules/Accordion/Accordion.twig'
      with {
        items: block.list
      }
    %}
      {% block title %}
        {{ item.title }}
      {% endblock %}
      {% block content %}
        <div class="wysiwyg">
          {{ item.content|e('wp_kses_post')|raw }}
        </div>
      {% endblock %}
    {% endembed %}
  </div>
</section>
