{#
/**
 * @file
 * Default block
 *
 * @param {String} $block_name machine name of the block
 */
#}
<section class="block-default">
  <div class="container">
    <p>
      This is the default block template
    </p>
    <p>
      Add the file: <strong>templates/organisms/blocks/{{ block_name }}.twig</strong> to your project
      to customize this block
    </p>
  </div>
</section>
